<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_study">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Study">
        <activity android:name=".answers"></activity>
        <activity android:name=".marking_upload" />
        <activity android:name=".paper_checking" />
        <activity android:name=".Lecture_protal" />
        <activity android:name=".uploadAssignment" />
        <activity android:name=".Upload" />
        <activity android:name=".selectionPage" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>